[Unit]
Description=x11vnc server
After=syslog.target network.target jitsi-videobridge2.service
Requires=jitsi-videobridge2.service
StartLimitIntervalSec=0

[Service]
User=pi
PIDFile=/home/pi/.vnc/%H:0.pid
ExecStart=/usr/bin/x11vnc -forever -nevershared -display :0
# -forever -nevershared -create
ExecStop=pkill x11vnc
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target