[Unit]
Description=X for {{ user_name }}
After=vncserver.service

[Service]
Type=simple
User={{ user_name }}
Group={{ user_name }}
Restart=always
ExecStart=/usr/bin/startx -- {% if main_user is not defined or main_user == false %}/usr/bin/Xvfb{% endif %} :{{ display_number }}

[Install]
WantedBy=multi-user.target