[Unit]
Description=Start x11vnc at startup.
After=multi-user.target

[Service]
Type=simple
User={{ user_name }}
PIDFile=/home/{{ user_name }}/.vnc/%H:0.pid
ExecStart=/usr/bin/x11vnc -forever -rfbport 590{{ display_number }} -nevershared -display :{{ display_number }} -auth .Xauthority

ExecStop=kill $(cat /home/{{ user_name }}/.vnc/%H:0.pid)
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target