# copy in secrets.env
# . secrets.env
export WIFI_SECRET="7128c7f2e9db413b075fd22b4d4054ffd98d380a6e23de598366d75d0a3cef30"
export PI_PASSWORD="qwerty12"
export VNC_PASSWORD="qwerty12"
jitsi_jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJqaXRzaSIsImNvbnRleHQiOnsidXNlciI6eyJuYW1lIjoidHJhbnNsYXRvciIsIm1vZGVyYXRvciI6InRydWUifX0sImV4cCI6MzI1MDQ3ODc1MTEsImlzcyI6InRyYW5zbGF0aW9uIiwic3ViIjoidHJhbnNsYXRpb24uc2VubnNvbHV0aW9ucy5jb20iLCJuYmYiOjE1OTYxOTc2NTIsInJvb20iOiIqIn0.FlcPIqv8cNgKkKeZuJ7lId6wIVoNmb3xrRzlYwkJZBo
